* {
  margin: 0px;
  box-sizing: border-box;
}

.main {
  font-size: larger;
  width: 15%;
  margin: auto;
}

.main > input {
  font-size: larger;
  width: 90%;
  border: none;
  font-weight: 600;
  font-size: x-large;
  margin: 6% 0%;
}

.income-expense {
  display: flex;
  border: 2px solid black;
  box-shadow: 2px 2px 5px 2px;
  padding: 4%;
  margin: 10% 0%;
}

.income-expense input {
  width: 90%;
  border: none;
  font-weight: 600;
  font-size: x-large;
}

.history {
  display: flex;
}

.his {
  background-color: grey;
  border: 1px solid black;
  padding: 1% 4%;
  border-radius: 4px;
  line-height: 15px;
  margin: 4%;
  font-size: small;
}

hr {
  margin: 5% 0%;
}

.add_transcation input {
  width: 100%;
  border-style: none;
  padding: 20px;
}

.add_transcation button {
  padding: 6%;
  border-radius: 3px;
  font-weight: 600;
  /* border: none; */
  margin: 2% 3%;
}
